.about {
  margin: 40px;
}

.card img {
  height: 200px;
  width: 200px;
}
/* .bioSections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
} */

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col-2 {
  grid-column: span 2/4;
  margin-right: 20%;
}

a {
  color: blue;
}

.git:hover {
  background-color: yellow;
}

@media (max-width: 767px) {
  .bioSections {
    display: grid;
    grid-template-columns: 1fr;
  }
}
