header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: red;
  position: sticky;
  top: 0px;
  text-align: center;
}

.header h1 {
  color: white;
  padding-left: 10px;
}

h1:hover {
  background-color: lightcoral;
  padding: 10px 0px;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
}

@media (max-width: 767px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  h1 {
    font-size: 20px;
    margin: 5px;
  }
}
