.video-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

p.title {
  font-size: larger;
  text-align: center;
  display: inline;
  padding: 0px 10px;
}

@media (max-width: 1000px) {
  .video-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .video-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
