.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

img {
  width: 85%;
  height: 75%;
}

@media (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
